@page "/MyExams"
@using BlazorTEST.Data
@using Microsoft.EntityFrameworkCore;
@using static BlazorTEST.Classes.DataModel.DataModelRepository;

@inject ExamsService ExamsServices
@inject LoginHandlerService loginHandleServices
@inject NavigationManager NavigationManager
<h1>My Exams</h1>
<h2>Wykonane egzaminy</h2>

<ContextMenu Id="myMenu">
    <Item OnClick="@OnClick">Show details</Item>
    <Item OnClick="@GetExam">Retake</Item>
</ContextMenu>


<div>
    <text>@TESTTEMP</text>
</div>
<div>
    <table class="table table-hover">

        <tr>
            <th>
                <text>Name</text>
            </th>
            <th>
                <text>Procent</text>
            </th>
            <th>
                <text>Zdane</text>
            </th>
        </tr>
        <tbody>
            @foreach (var exam in examsTaken)
            {

                <ContextMenuTrigger WrapperTag="tr" MenuId="myMenu" Data="exam">

            <td>
                <text>@exam.Name</text>
            </td>

            <td>
                <text>@(exam.Percent * 100 + "%")</text>
            </td>
            <td>
                @if (exam.Passed)
                {
                    <text>Zdane</text>
                }
                else
                {
                    <text>Niezdane</text>
                }
            </td>

            </ContextMenuTrigger>


        }
            </tbody>
        </table>
    </div>
    <h2>Egzaminy które utworzono</h2>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Id Egzaminu
                    </th>
                    <th>
                        Tytuł
                    </th>
                    <th>
                        Ile razy wykonany
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exam in examsCreated)
                {
                    <tr>

                        <td>
                            <text>@exam.ExamId</text>
                        </td>
                        <td>
                            <text>@exam.ExamTitle</text>
                        </td>
                        <td>
                            <text>@exam.ExamTakenCount</text>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

    <div>
        <button class="btn-primary" @onclick="navToCreateExam">Create exam!</button>
    </div>

    @code {
        [Parameter]
        public string Title { get; set; }

        [Parameter]
        public RenderFragment RowTemplate { get; set; }

        string TESTTEMP = "StartValue";


        int examTakenCount = 0;
        int examCreatedCount = 0;
        Int64 userId;
        List<ExamsPassed> examsTaken = new List<ExamsPassed>();
        List<ExamsCreated> examsCreated = new List<ExamsCreated>();



        protected override void OnInitialized()
        {

        }

        protected override async Task OnInitializedAsync()
        {
            string exx = "";

            userId = loginHandleServices.userId;
            try
            {
                examsTaken = await ExamsServices.getTakenExams(userId);
                examsCreated = await ExamsServices.getCreatedExams(userId);
                examTakenCount = await ExamsServices.getTakenExamsCount(userId);
                examCreatedCount = await ExamsServices.getTakenExamsCount(userId);
            }
            catch (Exception ex)
            {

            }

        }

        public void OnClick(ItemClickEventArgs e)
        {
            var data = (ExamsPassed)e.Data;
            NavigationManager.NavigateTo(String.Format("/GeneralDetails/{0}", data.examId));

        }

        public void GetExam(ItemClickEventArgs e)
        {
            var data = (ExamsPassed)e.Data;
            NavigationManager.NavigateTo(String.Format("/ExamForm/{0}", data.examId));

        }

        void navToCreateExam()
        {
             NavigationManager.NavigateTo("/CreateExam");
        }



    }
